name: Test, Build, and Publish to GitHub Pages

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go (if using Go)
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Run Tests
        run: make test

  build-deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: test

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go (if using Go)
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build Executable
        run: make build

      - name: Prepare GitHub Pages content
        run: |
          cp -Rv ./bin gh-pages/bin

      - name: Deploy to GitHub Pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-pages
          publish_branch: gh-pages
          force_orphan: true
